/ views/devise/menu/_login_items.html.haml
.user-status
  - if user_signed_in?
    = t 'shop.user.greet'
    = link_to current_user.display_name, user_path(current_user.id)
    / TODO on hover dropdown with 'Profile', 'Change email&password', 'Logout'
    = link_to t('shop.session.sign_out'), destroy_user_session_path, method: :delete
  - else
    = t 'shop.user.greet'
    = t 'shop.user.unknown'
    = link_to t('shop.session.sign_in'), new_user_session_path # TODO evaluate if Login is actually needed here?
