%section#shopping-cart.box.first-box
  %strong= link_to 'Ostoskori:', edit_shop_shopping_cart_path(session[:shopping_cart_id])
  - unless @shopping_cart.nil? || @shopping_cart.empty?
    %table
      %tbody
        - @shopping_cart.latest_items.each do |item|
          %tr
            %td
              %small= link_to item.product.name, shop_product_path(item.product)
            %td
              %small=raw " #{humanized_money item.price} #{currency_symbol}"
  %span#total>
    = "Tuotteita: #{@shopping_cart.size}kpl"
    %span#price>
      =raw "#{humanized_money @shopping_cart.price} #{currency_symbol}"
