<nav id="shop_navi">
	<% unless @top_categories.nil? %>
	<ul>
		<% @top_categories.each do |top_category| %>
			<li><%= category_link(top_category, :top_category) %></li>
		<% end %>
	</ul>
	<% end %>
</nav>
<section id="sub-navigation-sidebar">
	<%= render 'shop/layouts/search' %>
	<%= render 'shop/layouts/category_menu' %>
</section>
<section id="product-view" class="">
	<% unless @products.nil? %>
		<% @products.each do |product| %>
			<%= link_to product.name, shop_product_path(product.id) %>
		<% end %>
	<% end %>
</section>
<section id="sidebar">
	<%= render 'shop/layouts/shopping_cart' %>
	<%= render 'shop/layouts/advertisement' %>
</section>
