/ check whether user logged in
/ if not login or order as guest
/ login returns to this page
/ order as guest:
/   - email from order and creates user
/   - address from order and create address for user
/   - link user and address to order
/ current_user.present && addresses.blank?
/   - address from order and create address for user
/   - link user and address to order
/ current_user.present && addresses.any
/   - select address

- if current_user or params.include?(:cont)
  .order-form
    = form_for @order do |f|
      = render 'order_errors', object: @order

      .field
        = label 'user', 'email'
        = email_field 'user', 'email', value: current_user ? current_user.email : ''
      - if not current_user or not current_user.addresses.any?
        .field
          = label 'address', 'street'
          = text_field 'address', 'street', cols: 40, required: true
        .field
          = label 'address', :city
          = text_field 'address', :city, size: 40
        .field
          = label 'address', :postal_number
          = text_field 'address', :postal_number, size: 40, required: true
        .field
          = label 'address', :country
          = text_field 'address', :country, size: 40
        .field
          = label 'address', :phone_number
          = phone_field 'address', :phone_number, size: 40, required: true
        .field
          = label 'address', :description
          = text_area 'address', :description, rows: 3, columns: 40
        .field
          = label 'address', :home
          = check_box 'address', :home
      - else
        .field
          = f.label :address
          = f.collection_select :address, current_user.addresses, :id, :name, prompt: 'Select delivery address'
      .field
        = f.label :payment
        = f.select :payment, Shop::Order::PAYMENT_TYPES, prompt: 'Select a payment method', required: 'required'
      .field
        = f.label :message
        = f.text_area :message, rows: 3, cols: 40
      .actions
        = f.submit 'Place order'
- else
  / = label_tag t 'shop.session.sign_in'
  / = radio_button_tag 'user_control', 'sign_in'
  / = label_tag t 'shop.session.continue_order'
  / = radio_button_tag 'user_control', 'continue_order'
  = link_to t('shop.session.sign_in'), new_user_session_path
  = link_to t('shop.session.continue_order'), params.merge(cont: 1)


