.order-form
  = form_for @order do |f|
    - if @order.errors.any?
      .error_explanation
        %h2= "#{pluralize(order.errors.count, 'error')} prohibited this order from being saved:"
        %ul
          - @order.errors.full_messages.each do |msg|
            %li= msg
    - if current_user.nil?
      = f.label t 'shop.session.sign_in'
      = radio_button_tag 'user_control', 'sign_in', true
      = f.label t 'shop.session.sign_up'
      = radio_button_tag 'user_control', 'sign_up'
      address form here
    - elsif current_user.addresses.blank?
      address form here
    - else
      .field
        = f.label :address
        = f.collection_select :address, current_user.addresses, :id, :name, prompt: 'Select delivery address'
    .field
      = f.label :payment
      = f.select :payment, Shop::Order::PAYMENT_TYPES, prompt: 'Select a payment method', required: 'required'
    .field
      = f.label :message
      = f.text_area :message, rows: 3, cols: 40
    .actions
      = f.submit 'Place order'

