%h2= "#{user.first_name} #{user.last_name}"
%p= "E-Mail: #{user.email}"
%p= "Groups: #{user.user_groups.map(&:name).join(', ')}"
- unless user.addresses.blank?
  Addresses:
  %ul
    - user.addresses.each do |addr|
      %li= link_to addr.name, address_path(addr)
    %li= link_to 'Add...', new_address_path
- else
  = raw "You have not added any addresses yet. #{link_to 'Add', new_address_path}"
