<div id="left">
	<section id="short-introduction">
		<h2>Tervetuola sivuillemme!</h2>
		<p>Olemme koiratarvikkeisiin erikoistunut yritys. Valikoimastamme löydät myös koulutustarvikkeita moneen tarpeeseen. Koko valikoimaamme pääset tutustumaan koiranäyttelyissä.
		</p>
	</section>
	<% unless @news.blank? %>
		<section id="news">
			<fieldset>
				<legend>Uutiset</legend>
				<% for news in @news %>
				<p class="news">
					<%= news.format_date %> <%= news.title %> 
					<br /> <%= news.content %>
				</p>
				<% end %>
			</fieldset>
			<%= link_to 'Lisää uutisia...', '/news' %>
		</section>
	<% end %>
</div>
<div id="right">
	<aside class="content">
		<section id="next-show">
			<h3>Seuraavaksi löydät meidät:</h3>
			<span><%= @next_show.format_date %> <%= @next_show.location %> <br /> <%= link_to @next_show.title, @next_show.url %></span>
			<p><%= link_to 'Lisää näyttelyitä...', shows_path %></p>
		</section>
		<section id="links"></section>
	</aside>
</div>

