<div id="left">
	<section id="short-introduction">
		<h2>Tervetuola sivuillemme!</h2>
		<p>Olemme koiratarvikkeisiin erikoistunut yritys. Valikoimastamme löydät myös koulutustarvikkeita moneen tarpeeseen. Koko valikoimaamme pääset tutustumaan koiranäyttelyissä.
		</p>
	</section>
	<% unless @index_news.blank? %>
		<section id="news">
			<fieldset>
				<legend>Uutiset</legend>
				<%= display_news_items(@index_news) %>
			</fieldset>
			<%= link_to 'Lisää uutisia...', '/news' %>
		</section>
	<% end %>
</div>
<div id="right">
	<aside class="content">
		<section id="next-show">
			<h3>Seuraavaksi löydät meidät:</h3>
			<% unless @next_show.blank? %>
				<span><%= @next_show.format_date %> <%= @next_show.location %> <br /> <%= link_to @next_show.title, @next_show.url %></span>
			<% else %>
				<span>Ei tulevia näyttelyitä ilmoitettu</span>
			<% end %>
			<p><%= link_to 'Lisää näyttelyitä...', shows_path %></p>
		</section>
		<section id="links">
			<h4>Linkkejä:</h4>
			<ul>
				<li>
					<%= link_to 'Suomen Kennelliitto', 
						'http://www.kennelliitto.fi/fi', 
						:title => 'Suomen Kennelliitto' %>
				</li>
				<li>
					<%= link_to 'Suomen Terrierijärjestö Ry', 
						'http://www.terrierijarjesto.fi/', 
						:title => 'STJ Ry' %>
				</li>
			</ul>
		</section>
	</aside>
</div>

