.product.box
  .product-title
    %strong= link_to product.name, shop_product_path(product)
  .product-image= link_to image_tag(product.image.url(:thumb)), shop_product_path(product)
  .product-price
    = product.price
    &euro;
  .product-description= raw(product.description)
  - unless product.options.nil?
    .product-options
      Vaihtoehtoja:
      = product.options.map(&:name).to_sentence
    .product-link= link_to 'Katso lis채채', shop_product_path(product)
  - else
    .product-link= link_to 'Lis채채 ostoskoriin', shop_add_to_cart_path(product), remote: true, class: 'add-to-cart', "data-type" => :json
