<div class="product">
	<strong><%= product.name %></strong>
	<img src='<%= product.image %>' class="product-image" /><br />
	<%= product.price %> &euro; <br />
	<%= raw(product.description) %>
	<% unless product.options.nil? %>
	Vaihtoehtoja: <%= product.options.map(&:name).to_sentence %>
	<% end %>
	<%= link_to 'Lisää ostoskoriin' %>
</div>
