<div class="product">
	<strong><%= product.name %></strong>
	<img src='<%= product.image %>' class="product-image" /><br />
	<%= product.price %> &euro; <br />
	<%= raw(product.description) %>
	<%= link_to 'Lisää ostoskoriin' %>
</div>