.product.box
  .product-title
    %strong= link_to product.name, shop_product_path(product.id)
  .product-image= link_to image_tag(product.image.url(:thumb)), shop_product_path(product.id)
  .product-price
    =raw "#{humanized_money product.price} #{currency_symbol}"
  .product-description= raw(product.description)
  - unless product.options.nil? || product.options.empty?
    .product-options
      Vaihtoehtoja:
      = product.options.map(&:name).to_sentence
    .product-link= link_to 'Katso lis채채', shop_product_path(product.id)
  - else
    .product-link= link_to 'Lis채채 ostoskoriin', shop_shopping_cart_add_item(product), remote: true, class: 'add-to-cart', "data-type" => :json
