.product.box
  %strong= link_to product.name, shop_product_path(product)
  %img.product-image{:src => product.image.url(:thumb)}
  %br
  = product.price
  &euro;
  %br
  = raw(product.description)
  - unless product.options.nil?
    Vaihtoehtoja:
    = product.options.map(&:name).to_sentence
    %br
    = link_to 'Lisää ostoskoriin', shop_add_to_cart_path(product), remote: true, class: 'add-to-cart', "data-type" => :json
