= form_for @cart, url: { action: 'update' } do |f|
  %h1 Ostoskori
  - unless @cart.empty?
    %table
      %thead
        %tr
          %td Tuote
          %td lkm
          %td Hinta
          %td Yhteensä
      %tbody
        = f.fields_for :items, @cart.items do |items_fields|
          %tr
            %td= link_to items_fields.object.product.name, shop_product_path(items_fields.object.product)
            %td= items_fields.text_field :quantity
            %td=raw " #{items_fields.object.product.price} &euro;"
            %td=raw " #{items_fields.object.price} &euro;"
        %tr#price
          %td{colspan: 3} Yhteensä:
          %td=raw "#{@cart.price} &euro;"
    = f.submit
  - else
    %p Ostoskorissa ei ole tuotteita

