%h1 Ostoskori
- unless @cart.empty?
  %table
    %thead
      %tr
        %td Tuote
        %td lkm
        %td Hinta
    %tbody
      - @cart.items.each do |item|
        %tr
          %td= link_to item.product.name, shop_product_path(item.product)
          %td= item.quantity
          %td= " #{item.price} €"
%span#price= "Yhteensä: #{@cart.price} €"
