<tr id='<%= show.date %>' >
  <td headers='show_time' ><%= show.format_date %></td>
  <td headers='show_name' >
    <a href='<%= show.url %>' ><%= show.title %></a>
  </td>
  <td headers='show_place' ><%= show.location %></td>
</tr>
