<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	  	<%= stylesheet_link_tag    "application" %>
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		<% if flash[:notice] %>
				<div class="notice rounded"><%= notice %></div>
			<% elsif flash[:alert] %>
				<div class="alert rounded"><%= alert %></div>
			<% end %>
		<%= render 'layouts/header' %>
		<div id="content" class="shadow">
			<%= content_for?(:content) ? yield(:content) : yield %>
		</div>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
		<%= debug(session) if Rails.env.development? %>
		<%= javascript_include_tag "application" %>
	</body>
</html>