<!DOCTYPE html>
<html>
<head>
  <title>Roydon | <%= @title %> </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>
	<footer>
		Sivuihin liittyvät kysymykset ja kommentit 
		<%= mail_to 'webmaster@roydon.fi', nil, :class => 'email', :encode => 'javascript' %> 
		<%= link_to 'Ylläpito', '/login', :class => 'robots-nocontent' %>
		<address>
			Kuninkaantie 752 <br /> FI 07110 HINTHAARA
	 		<br />+358 (0)40 020 0521
	 	</address>
	 	Copyright &copy;2011 Roydon Ky
	 </footer>
</body>
</html>
