- content_for :content do
  = render 'shop/layouts/top_menu'
  %section#sub-navigation-sidebar
    = render 'shop/layouts/search'
    = render 'shop/layouts/category_menu'
  %section#shop-details
    = content_for?(:shop_content) ? yield(:shop_content) : yield
  %section#sidebar
    = render 'shop/layouts/shopping_cart', cart: @cart
    / = render 'shop/layouts/advertisement'
= render :template => 'layouts/application'
